// Used Controls:["Menu","Navigation","RibbonBar","PanelBar","TreeView","ToolBar","TabStrip","SearchBox","Grid","TreeList","DataForm","ListBox","Filter","Editor","ImageEditor","AutoCompleteBox","ComboBox","DropDownList","DropDownTree","Input","Slider","ColorPicker","Wizard","Splitter","Dock","Window","Notification","ToolTip","Tile","TileList","Rotator","Button","Scheduler","Gantt","Calendar","MediaPlayer","ImageGallery","LightBox","FileExplorer","CloudUpload","Upload","TagCloud","SocialShare","Rating","OrgChart","Map","ProgressArea","ProgressBar","FormDecorator"]
$base-theme:Bootstrap;
$skin-name:5_BTS;
$swatch-name:Bootstrap;
$accent: #e7982f;
$accent-contrast: #ffffff;
$text-color: #929497;
$bg-color: #ffffff;
$base-text: #929497;
$base-bg: #ffffff;
$hovered-text: #ffffff;
$hovered-bg: #768693;
$selected-text: #ffffff;
$selected-bg: #768693;
@import 'Menu.Bootstrap';
@import 'Navigation.Bootstrap';
@import 'RibbonBar.Bootstrap';
@import 'PanelBar.Bootstrap';
@import 'TreeView.Bootstrap';
@import 'ToolBar.Bootstrap';
@import 'TabStrip.Bootstrap';
@import 'SearchBox.Bootstrap';
@import 'Grid.Bootstrap';
@import 'TreeList.Bootstrap';
@import 'DataForm.Bootstrap';
@import 'ListBox.Bootstrap';
@import 'Filter.Bootstrap';
@import 'Editor.Bootstrap';
@import 'ImageEditor.Bootstrap';
@import 'AutoCompleteBox.Bootstrap';
@import 'ComboBox.Bootstrap';
@import 'DropDownList.Bootstrap';
@import 'DropDownTree.Bootstrap';
@import 'Input.Bootstrap';
@import 'Slider.Bootstrap';
@import 'ColorPicker.Bootstrap';
@import 'Wizard.Bootstrap';
@import 'Splitter.Bootstrap';
@import 'Dock.Bootstrap';
@import 'Window.Bootstrap';
@import 'Notification.Bootstrap';
@import 'ToolTip.Bootstrap';
@import 'Tile.Bootstrap';
@import 'TileList.Bootstrap';
@import 'Rotator.Bootstrap';
@import 'Button.Bootstrap';
@import 'Scheduler.Bootstrap';
@import 'Gantt.Bootstrap';
@import 'Calendar.Bootstrap';
@import 'MediaPlayer.Bootstrap';
@import 'ImageGallery.Bootstrap';
@import 'LightBox.Bootstrap';
@import 'FileExplorer.Bootstrap';
@import 'CloudUpload.Bootstrap';
@import 'Upload.Bootstrap';
@import 'TagCloud.Bootstrap';
@import 'SocialShare.Bootstrap';
@import 'Rating.Bootstrap';
@import 'OrgChart.Bootstrap';
@import 'Map.Bootstrap';
@import 'ProgressArea.Bootstrap';
@import 'ProgressBar.Bootstrap';
@import 'FormDecorator.Bootstrap';
