

header {
	height: 70px;
	display: flex;
	align-items: center;
}

h2 {
	font-size: 0.9em;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


body {
	font-family: 'Myriad Pro';
	font-weight: 300;
    font-style: normal;
}

/*COLORES*/
.orange {
	background: #e7982f!important;
}
.gris {
	color: #768693;
}
.gris-tabla {
	color: #929497;
}

/*BOTONES*/
.btn_encabezado1{
	width: 98% !important;
	margin-right: 2%;
}
.btn_encabezado2{
	width: 98% !important;
	margin-left: 2%;
}


.btn-sm.orange {
	font-size: 0.75em;
}



/*CAJA TABLAS*/
.bd {
	border-top: 6px solid #768693;
}

/*TITULOS*/
.bg-grupo {
	background: #768693;
}

/*PAGINACIÓN*/
.page-link {
	color: #bbbdbf!important;
}
.page-link:hover {
	color: #fff!important;
	background: #768693!important;
}

/*ICONOS*/
.btn-circle {
    border-radius: 100%!important;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-circle.btn-sm, .btn-group-sm>.btn-circle.btn {
    height: 1.8rem;
    width: 1.8rem;
    font-size: .75rem;
}


/*VENTANAS*/
	
	#ventana4 h2.tit-uno {
		background: #768693 url(../img/lupa.png) 15px 5px no-repeat;
	}

	#ventana4 h2.tit-dos {
		background: #768693 url(../img/doc-lupa.png) 15px 5px no-repeat;
	}

	#ventana1 h2, #ventana2 h2, #ventana3 h2, #ventana4 h2 {
		font-size: 0.9em;
		padding: 1em 0 1em 60px;
		font-weight: 600;
		color: #fff;
	}
	#ventana1 h3, #ventana2 h3, #ventana3 h3, #ventana4 h3 {
		font-size: 0.85em;
		color: #768693;
		text-transform: uppercase;
	}

/*INPUTS*/

	::-webkit-input-placeholder, ::-webkit-select-placeholder  {
	   font-size: 0.8em;
	}

	:-moz-placeholder { /* Firefox 18- */
	      font-size: 0.8em;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	      font-size: 0.8em;
	}

	.custom-select {
		font-size: 0.7em!important;
	}

	.form-control:valid {
  		background-color:  #e9ebed!important;
	}

	.input-group span {
		position: absolute;
		right: 10px;
		top: 4px;
	}



/*TABLAS*/
	.table {
		text-align: center;
		color: #333;
		font-size: .85rem;
	}

	.table-bordered th {
		text-transform: uppercase;
	}
	.table-bordered th, .table-bordered td {
		color: #929497;
	}



.toolbar{
    margin: 0;
    padding: 0;
}


.img2{
    float: right;
}

.contenido {
    margin-left: 14.2em;
    background-color: rgb(245, 245, 245);
    height: 93vh;
    overflow: auto;
    right: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
.contenido p {
	padding-left: 1em;
}
.logo{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 12em;
}
.cliente_logo{
    /* position: absolute; */
    top: 1em;
    right: 1em;
    width: 13em;
}


/*VENTANAS*/

#ventana1, #ventana2, #ventana3, #ventana4, #ventana5, #ventana6{
    display: none;
    min-height: 84vh;
    padding-bottom: 15px;
}
#home{
    padding-bottom: 15px;
}

::ng-deep .row {
     margin-right: 0; 
     margin-left: 0; 
}
.superficie_sombreada{
    height: 100vh;
    width: 100vw;
    -webkit-box-shadow: 0px 0px 54px -9px rgba(33,33,33,0.62);
	-moz-box-shadow: 0px 0px 54px -9px rgba(33,33,33,0.62);
	box-shadow: 0px 0px 54px -9px rgba(33,33,33,0.62);
    position: fixed;
}

/*FOOTER*/

.footer{
    height: 5.5em;
    background-color: rgb(51, 51, 51)!important;
    color: white;
    display: flex;
    align-items: center;
}

.seccion_footer{
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

.seccion_footer p{
	display: inline-block ;
    margin-bottom: 0;
    font-size: 12px;
}
.contacto{
	font-size: 12px;
	/*margin-left: 5px;*/
}
.row{
    padding: 0;
    margin: 0;
}
.circulo {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
	position: relative;
	font-size: 12px;
}
.circulo i {
	position: absolute;
	left: 3px;
	top: 3px;
}
.logo1{
	width: 160px;
}
.logo2{
	width: 45px;
}





/*FOOTER 19-06-2020*/
.footer .row {
	align-items: center;
}
.contacto span {
	position: relative;
	background: #fff;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.contacto span i {
	position: absolute;
	top: 5px;
	left: 5px;
}




@media (max-width: 767px) {
    .contenido{
        margin-left: 0px !important;
        height: 87vh;
    }
  }

  @media (max-width: 767px){
    .cliente_logo{
        display: none;
    }
    .logo{
        position: absolute;
        width: 10em;
    }
    header{
        text-align: center;
    }

    .footer{
        height: 12em;
    }
    .seccion_footer p{
        text-align: center;
        margin-top: 10px;
	}
	.btn_encabezado1{
		width: 100% !important;
		margin-right: 0;
	}
	.btn_encabezado2{
		width: 100% !important;
		margin-left: 0;
	}
	
  }

@media (min-width: 767px) {
	/*BOTONES*/
	.input-group .btn i {
		padding: 0 5px;
	}
	.excel {
		margin: 0 0 10px;
	}
	.excel i {
		padding: 0 5px;
	}
}

@media (min-width: 380px) {
	/*texto footer*/
	.seccion_footer p{
		font-size: 11px;
	}
	.contacto{
		font-size: 11px;
	}
}

.navbar-nav .dropdown-menu {
	position: fixed !important;
	width: 100% !important;
	height: 200px !important;
	top: 50px !important;
}
@media (min-width: 380px) {
	.navbar-nav .dropdown-menu {
		position: fixed !important;
		width: 380px !important;
		height: 200px !important;
		top: 50px !important;
		right: 100px;
	}
}
.dropdown-item > div {
	width: 100%;
}
.dropdown-item {
	background-color: white;
}
